body {
  display: grid;
  grid-template-areas:
    "header header header"
    "nav article aside"
    "footer footer footer";
  grid-template-rows: 20% 1fr 60px;
  grid-template-columns: 15% 1fr 15%;
  grid-gap: 10px;
  height: 100vh;
  margin: 0;
  font-family: sans-serif;
  padding: 0.5em;
  box-sizing: border-box;
}

article,
aside,
footer,
header,
nav {
  padding: 20px;
  background-image: url("image/wood8.png");
  border: 0.5em solid rgba(26, 1, 1, 0.329);
}

/*Хедер*/

.pageHeader {
  grid-area: header;
  display: flex;
  justify-content: center;
  align-items: center;
}

.titleHeader {
  font-size: 5vw;
  font-weight: bold;
}

/*Хедер*/

/*Навигация*/

.mainAside,
.mainNav {
  grid-area: nav;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.asideWrapper,
.navWrapper {
  width: 100%;
  border: 0.5em solid rgba(26, 1, 1, 0.329);
}

.titleAside,
.titleNav {
  text-align: center;
  font-size: 1.5vw;
  font-weight: bold;
}

.secAside,
.secNav {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-y: scroll;
  font-size: 1vw;
  font-weight: 700;
}

.sec {
  width: 90%;
  margin: 0.4em;
  border-bottom: 0.2em dashed rgba(26, 1, 1, 0.329);
}

.asd,
.nav {
  text-decoration: none;
  color: inherit;
}

.mainAside {
  grid-area: aside;
}

.mainArticle {
  grid-area: article;
  overflow-y: scroll;
}

.mainTitle {
  border-bottom: 0.1em dashed rgba(26, 1, 1, 0.329);
}

h1 {
  font-size: 2vw;
}

span {
  font-size: 2vw;
  font-style: italic;
  color: blue;
}

p {
  text-indent: 1em;
  font-size: 1.5vw;
}

.image {
  transition: 1s;
}

.image:active {
  transform: scale(2, 2);
}

.imag10,
.image1,
.image10,
.image11,
.image12,
.image13,
.image14,
.image15,
.image16,
.image17,
.image18,
.image19,
.image2,
.image20,
.image21,
.image22,
.image23,
.image3,
.image4,
.image5,
.image6,
.image7,
.image8,
.image9,
.image24,
.image25,
.image26,
.image27,
.image28,
.image29,
.image30,
.image31,
.image32,
.image33,
.image34,
.image35,
.image36,
.image37,
.image38,
.image39,
.image40,
.image41,
.image42,
.image43,
.image44,
.image45,
.image46,
.image47,
.image48,
.image49,
.image50,
.image51,
.image52,
.image53,
.image54,
.image55,
.image56,
.image57,
.image58,
.image59,
.image60,
.image61,
.image62,
.image63,
.image64,
.image65,
.image66,
.image67,
.image68, .image69, .image70 {
  width: 100%;
  height: 50%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.image1 {
  background-image: url("image/Screenshot_1.png");
}

.image2 {
  background-image: url("image/Screenshot_2.png");
}

.image3 {
  background-image: url("image/code-style.png");
}

.image4 {
  background-image: url("image/Screenshot_3.png");
}

.image5 {
  background-image: url("image/Screenshot_4.png");
}

.image6 {
  background-image: url("image/Screenshot_5.png");
}

.image7 {
  background-image: url("image/Screenshot_6.png");
}

.image8 {
  background-image: url("image/Screenshot_7.png");
}

.image9 {
  background-image: url("image/Screenshot_8.png");
}

.image10 {
  background-image: url("image/Screenshot_9.png");
}

.image11 {
  background-image: url("image/Screenshot_10.png");
}

.image12 {
  background-image: url("image/Screenshot_11.png");
}

.image13 {
  background-image: url("image/Screenshot_12.png");
}

.image14 {
  background-image: url("image/types.jpg");
}

.image15 {
  background-image: url("image/Screenshot_13.png");
}

.image16 {
  background-image: url("image/Screenshot_14.png");
}

.image17 {
  background-image: url("image/Screenshot_15.png");
}

.image18 {
  background-image: url("image/Screenshot_16.png");
}

.image19 {
  background-image: url("image/Screenshot_17.png");
}

.image20 {
  background-image: url("image/Screenshot_18.png");
}

.image21 {
  background-image: url("image/Screenshot_19.png");
}

.image22 {
  background-image: url("image/Screenshot_20.png");
}

.image23 {
  background-image: url("image/Screenshot_21.png");
}

.image24 {
  background-image: url("image/Screenshot_22.png");
}

.image25 {
  background-image: url("image/Screenshot_23.png");
}

.image26 {
  background-image: url("image/Screenshot_24.png");
}

.image27 {
  background-image: url("image/Screenshot_25.png");
}

.image28 {
  background-image: url("image/Screenshot_26.png");
}

.image29 {
  background-image: url("image/Screenshot_27.png");
}

.image30 {
  background-image: url("image/Screenshot_28.png");
}

.image31 {
  background-image: url("image/Screenshot_29.png");
}

.image32 {
  background-image: url("image/Screenshot_30.png");
}

.image33 {
  background-image: url("image/Screenshot_31.png");
}

.image34 {
  background-image: url("image/Screenshot_32.png");
}

.image35 {
  background-image: url("image/Screenshot_33.png");
}

.image36 {
  background-image: url("image/Screenshot_34.png");
}

.image37 {
  background-image: url("image/Screenshot_35.png");
}

.image38 {
  background-image: url("image/Screenshot_36.png");
}

.image39 {
  background-image: url("image/Screenshot_37.png");
}

.image40 {
  background-image: url("image/Screenshot_38.png");
}

.image41 {
  background-image: url("image/Screenshot_39.png");
}

.image42 {
  background-image: url("image/Screenshot_40.png");
}

.image43 {
  background-image: url("image/Screenshot_41.png");
}

.image44 {
  background-image: url("image/Screenshot_42.png");
}

.image45 {
  background-image: url("image/Screenshot_43.png");
}

.image46 {
  background-image: url("image/Screenshot_44.png");
}

.image47 {
  background-image: url("image/Screenshot_45.png");
}

.image48 {
  background-image: url("image/Screenshot_46.png");
}

.image49 {
  background-image: url("image/Screenshot_47.png");
}

.image50 {
  background-image: url("image/Screenshot_48.png");
}

.image51 {
  background-image: url("image/Screenshot_49.png");
}

.image52 {
  background-image: url("image/Screenshot_50.png");
}

.image53 {
  background-image: url("image/Screenshot_51.png");
}

.image54 {
  background-image: url("image/Screenshot_52.png");
}

.image55 {
  background-image: url("image/Screenshot_53.png");
}

.image56 {
  background-image: url("image/Screenshot_54.png");
}

.image57 {
  background-image: url("image/Screenshot_55.png");
}

.image58 {
  background-image: url("image/Screenshot_56.png");
}

.image59 {
  background-image: url("image/Screenshot_57.png");
}

.image60 {
  background-image: url("image/Screenshot_58.png");
}

.image61 {
  background-image: url("image/Screenshot_59.png");
}

.image62 {
  background-image: url("image/Screenshot_60.png");
}

.image63 {
  background-image: url("image/Screenshot_61.png");
}

.image64 {
  background-image: url("image/Screenshot_62.png");
}

.image65 {
  background-image: url("image/Screenshot_63.png");
}

.image66 {
  background-image: url("image/Screenshot_64.png");
}

.image67 {
  background-image: url("image/Screenshot_65.png");
}

.image68 {
  background-image: url("image/Screenshot_66.png");
}

.image69 {
    background-image: url("image/Screenshot_67.png");
  }

  .image70 {
    background-image: url("image/Screenshot_68.png");
  }

.pageFooter {
  grid-area: footer;
}
